version: "3.9"
services:
  PROJECT_NAME:
    environment:
      - USERNAME=$USERNAME
      - GID=$GID
      - UID=$UID
    build:
      context: ./docker/main/
      args:
        - GID=$GID
        - UID=$UID
        - USERNAME=$USERNAME
    ports:
      - 8080:3000
    volumes:
      - .:/home/${USERNAME}/app
      - ./vim:/home/${USERNAME}/.vim
      - ./vimrc:/home/${USERNAME}/.vimrc
      - /etc/passwd:/etc/passwd:ro # 現在のログインユーザーを使ってシェルを実行するためにpasswdをROで使用
      - /etc/group:/etc/group:ro # 現在のログインユーザーを使ってシェルを実行するためにgroupをROで使用
    image: PROJECT_NAME:latest
    tty: true
    privileged: true
    stdin_open: true
    network_mode: host
